html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

.member-card .card-image img {
    height: 220px;           /* más pequeña */
    width: 100%;
    object-fit: cover;       /* recorta proporcionalmente */
    object-position: center; /* centra la imagen */
}

